@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #111111;
}
#main-section {
    width: 100%;
    height: 100vh !important;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.main-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
}
.main-img h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 20px;
    color: #e0e0d9;
}
.main-img  img {
    border-radius: 10px;
    width: 100%;
}
.main-buttons a {
    text-decoration: none;
    background: #171717;
    color: #828282;
    border-radius: 5px;
    padding: 20px;
    margin-left: 40px;
    transition: transform 0.3s;
}
.main-buttons a:hover {
    transform: scale(1.3);
}