@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
main {
    background: #111111;
    width: 100%;
    height: 100vh !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    width: 600px;
    height: 100%;
}
.imgBox img {
    border: 3px solid #f9f9f9;
    border-radius: 10px;
    width: 90%;
}
.linksBox {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.linksBox a {
    background-color: #212121;
    padding: 20px;
    border-radius: 5px;
    text-decoration: none;
    color: #828282;
    transition: transform 0.3s;
    margin: 5px;
}
.linksBox a:hover {
    color: #4D8076;
    transform: scale(1.1);
}
/* RESPONSIVE */
@media ( max-width:1200px ){

    header , main , footer {
      position: relative;
      width: calc(100%);
    }
  }
@media (max-width: 992px) {
    body {
        width: 100%;
    }
    header , main , footer {
        position: relative;
        width: calc(100%);
    }
    .imgBox img {
        width: 80%;
    }
    .linksBox {
        display: flex;
        justify-content: space-evenly;
        width: 80%;
        height: 25%;
        flex-direction: column;
    }
}